<div class="invisible" ng-class="{visible: showFAQ}" in-view="showFAQ = true;">

<h2>What style of music do you play?</h2>
  Our repertoire pulls from 60’s and 70’s rock, motown, 90’s rock and pop, and contemporary hits. We play the music we grew up with and the music we love. Please see our <a ng-click="setNavSelection(2)"><u>repertoire page</u></a>.

<h2>How loud will the band be?</h2>
  Maintaining a reasonable volume for a given room and crowd is one of our top considerations from the moment a gig is booked. It effects everything from the band members we bring to the songs we play and the gear we use. We will keep the volume appropriate and exactly where you want it.

<h2>What will happen between the band’s sets?</h2>
  There are a few options. We will bring a well-stocked iPod which we are happy to plug in and play while the band takes breaks. We will also bring a jack for your own music device, should you be inclined to use it. Lastly, in the past, some couples have hired a DJ to take over between sets — even better. We just ask that we be given contact info for the DJ or DJ company so that we can avoid playing each other’s songs.

<h2>Do you take requests?</h2>
  Absolutely yes — in fact, we have a form <a ng-click="setNavSelection(2)"><u>over here</u></a> for just that purpose! If you know ahead of time that you’re going to want something, let us know and we will learn it. We also don't mind if people make requests on the night, although they can sometimes be harder to fulfill — but we will do our best!

<h2>Do we need to feed the band?</h2>
  Generally, yes. Providing the band a meal eliminates the need for us to make off-site arrangements for food, ensuring our presence at the venue if unexpectedly required.

<h2>Can we borrow a microphone for announcements and/or speeches?</h2>
  Yes! Although when it comes to speeches, it’s worth talking to the venue first, as they often provide a podium and sound system for this purpose. Also, depending on the the venue/floor plan, an additional sound system may be required for the speeches, which would come with a small additional cost. As for announcements, your MC is welcome to use a microphone from the stage if they would like.

<h2>Do you play any showcases?</h2>
  Yeah! We play showcases around Toronto regularly and would be happy have you at one of these public events. Let us know that you are coming and we’ll be sure to put your name on the guest list.

<h2>Will you play my first dance or any other special dances?</h2>
  We would be honoured. Let us know what songs you'd like and we’ll make sure they're perfect.

<h2>Will the band provide lighting?</h2>
  Generally, yes, although it depends on the venue. We generally bring one rack of lights at minimum, but again, if you have specific requests, we’d love to hear them.

</div>
