<div>
	<div id="homeContainer">
		<div id="home__videoContainer" class="invisible" ng-class="{visible: showCarousel}" in-view="showCarousel = true;">
			<iframe id="home__video" src="https://www.youtube.com/embed/x2Eh70UN5qI?start=367&showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="invisible" ng-class="{visible: showBlurb}" in-view="showBlurb = true;">
			<i>Fool Hearts</i> is a project <i>10 years</i> in the making. Be it on stage, in studio, or around a kitchen table, we've amassed countless hours playing music together, and a <i>formidable repertoire spanning decades</i>.
			<p>
			We specialize in <i>weddings</i> and <i>corporate events</i>, but found our legs in <i>clubs</i>, <i>bars</i>, <i>backyards</i>, and <i>barns</i>.
			<p>
			All of our muscians are <i>educated professionals</i>, and flexible enough to accomodate events of <i>any size</i>. Your guests can enjoy anything from a cozy accoustic duo to a full band including electric guitars, drums, keys, horns and all.
			<p>	
			Regardless, <i>we’ll bring the party</i>.	
		</div>
	</div>
</div>