<div >
	<div id="homeContainer">
		<div id="carousel" class="invisible" ng-class="{visible: showCarousel}" in-view="showCarousel = true;">
			This is where a bunch of cycling photos or a video goes.
		</div>
		<div class="invisible" ng-class="{visible: showBlurb}" in-view="showBlurb = true;">
			<i>Fool Hearts</i> is a project <i>10 years</i> in the making. Be it on stage, in studio, or around a kitchen table, we've amassed countless hours playing music together, and a <i>formidable repertoire spanning decades</i>.
			<p>
			We specialize in <i>weddings</i> and <i>corporate events</i>, but found our legs in <i>clubs</i>, <i>bars</i>, <i>backyards</i>, and <i>barns</i>.
			<p>	
			<i>We accommodate you</i> and your budget. If it’s a large event, we’ll bring the whole team - horns, keys, amps, drums and all. If it’s a small private event, we'll be as small as a single member with an acoustic guitar. 
			<p>	
			Regardless, <i>we’ll bring the party</i>.	
		</div>
	</div>
</div>