<div class="membersContainer">

	<div class="member">
		<div class="memberPhoto">
			<img src="images/phil.jpg" width="150px" height="150px">
		</div>
		<div class="memberDesc">
			<h3 class="memberName">Phil Laffin - Vocals, Guitar, Bass</h3>
		</div>
	</div>

	<div class="member">
		<div class="memberPhoto">
			<img src="images/eric.jpg" width="150px" height="150px">
		</div>
		<div class="memberDesc">
			<h3 class="memberName">Eric Walker - Guitar, Vocals, Bass</h3>
		</div>
	</div>

	<div class="member">
		<div class="memberPhoto">
			<img src="images/lance.jpg" width="150px" height="150px">
		</div>
		<div class="memberDesc">
			<h3 class="memberName">Lance Schibler - Guitar, Bass, Vocals</h3>
		</div>
	</div>

	<div class="member">
		<div class="memberPhoto">
			<img src="images/mat.jpg" width="150px" height="150px">
		</div>
		<div class="memberDesc">
			<h3 class="memberName">Mat Pataki - Drums, Vocals</h3>
		</div>
	</div>

	<div class="member">
		<div class="memberPhoto">
			<img src="images/mike.jpg" width="150px" height="150px">
		</div>
		<div class="memberDesc">
			<h3 class="memberName">Mike Butlin - Keyboads, Vocals</h3>
		</div>
	</div>

	<div class="member">
		<div class="memberPhoto">
			<img src="images/lindsey.jpg" width="150px" height="150px">
		</div>
		<div class="memberDesc">
			<h3 class="memberName">Lindsey - Vocals, Keyboards</h3>
		</div>
	</div>

	<div class="member">
		<div class="memberPhoto">
			<img src="images/cayley.jpg" width="150px" height="150px">
		</div>
		<div class="memberDesc">
			<h3 class="memberName">Cayley Burgess - Saxophone</h3>
		</div>
	</div>

	<div class="member">
		<div class="memberPhoto">
			<img src="images/dan.jpg" width="150px" height="150px">
		</div>
		<div class="memberDesc">
			<h3 class="memberName">Dan Gooch - Trumpet</h3>
		</div>
	</div>

</div>