<div class="invisible center_div" ng-class="{visible: showReel}" in-view="showReel = true;">
  <div class="reel__videoContainer">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oM_znkCsU_E" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="reel__videoContainer">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ScvZEr0v2N0" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="reel__videoContainer">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/paGOzSHKvFY" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="reel__videoContainer">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WDuQIUorlaU" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="reel__videoContainer">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/iG8TvdTf3-M" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="reel__videoContainer">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OhsPu-a5YSU" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="reel__videoContainer">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ynBvch9I86c" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
