<div class="basicContent" ng-controller="repertoireCtrl">
	<div id="repBlurb">
	Our repertoire is <i>constantly evolving</i>, and we always keep a few <i>surprises</i> in our back pocket. This list is not exhaustive by any means, but it will give you a good idea of what your can expect to hear. We are always excited to learn <i>your favourites</i>, so let us know if there’s something you’d like to hear!
	</div>
	<div>

		<div id="request">
			<div style="text-align: center">
				Have a song request?<br>
				Let us know!<br><br>
			</div>
			<div class="hline2"></div>
			<br>

	  	<form novalidate class="simple-form" action="https://docs.google.com/forms/d/1JmvaIO9eO61Wt9XAl7DQ_Bdx2d7j5Ax69NsSu_DwFz4/formResponse" method="POST" target="_blank">
				<table>
					<tr>
						<td>Song Title:</td>
						<td><input type="text" name="entry.26000734" value="" dir="auto" aria-label="Song Title" title=""></td>
					</tr>
					<tr>
						<td>Artist:</td>
						<td><input type="text" name="entry.1580561161" value="" dir="auto" aria-label="Artist Name" title=""></td>
					</tr>
				</table>
		    	<div style="text-align:center;">
		    		<input type="submit" name="submit" value="Submit">
					</div>
	  	</form>

		</div>

		<table id="repTable">
			<tr>
				<td class="tableHeader" ng-click="sortBy(0)">Song Title</td>
				<td class="tableHeader" ng-click="sortBy(1)">Artist</td>
				<td class="tableHeader" ng-click="sortBy(2)">Decade</td>
			</tr>
			<tr ng-repeat="i in sortedData">
				<td class="repTableEntry" ng-bind="dataView.getFormattedValue(i, 0)"></td>
				<td class="repTableEntry" ng-bind="dataView.getFormattedValue(i, 1)"></td>
				<td class="repTableEntry" ng-bind="dataView.getFormattedValue(i, 2)"></td>
			</tr>
		</table>
	</div>
</div>