<div class="invisible" ng-class="{visible: showTestimonials}" in-view="showTestimonials = true;">

	<h2>Michelle and Frank Wilson - Private Birthday Party</h2>
	"Thanks to Phil, Mike and the other bandmates, having Fool Hearts play at our birthday party made all the difference. Their amazing music made the party "epic", "amazing" and "the new standard on the lake", as quoted by some of our guests. I look forward to seeing them play again soon and would be happy to recommend them to anyone who is looking for a lively, fun and interactive band."

	<h2>Angela Smolders - Paddy Flaherty's Pub</h2>
	"Fool Hearts (previously Decade of Sleep) is one of our favourite regular bands that we book at Paddy Flaherty's. Always entertaining and engaging with the crowd and always a very cool repertoire of music. One word for DOS - TIGHT - they are talented young men! It is always a pleasure to have them at the pub and will continue to book them for as long as they want to come back!"

</div>
