<div class="invisible" ng-class="{visible: showTestimonials}" in-view="showTestimonials = true;">

	"We are so lucky to have had Fool Hearts as our wedding band! Mat, Phil, Mike, Mike, and Eric truly made our night amazing. They were open and enthusiastic working with us to choose the music, and true professionals from the moment we booked them through till the end of the night. They learned a new song for our first dance and it was so perfect and romantic. They got all of our guests on to the dance floor (even including Grandma) and kept everyone dancing all night. Our guests have not stopped raving about them and we were told by many people that it was the best wedding entertainment they had ever experienced. We could not have been happier and can't wait to see them play again!"
	<div class="testimonialName">- Chris & Denise Perkins - Wedding Clients, Aug 2015</div>
	<br>

	"The music was fabulous, and you had everyone dancing all night long; you even managed to get the groom on stage. Our guests kept telling us how much they loved the band; one guest called you the best band he'd ever heard at a wedding. We could honestly not have asked for a better night."
	<div class="testimonialName">- Nygel & Amanda - Wedding Clients, June 2012</div>
	<br>

	"Thanks to Phil, Mike, and the other bandmates, having Fool Hearts play at our birthday party made all the difference. Their amazing music made the party "epic," "amazing," and "the new standard on the lake," as quoted by some of our guests. I look forward to seeing them play again soon and would be happy to recommend them to anyone who is looking for a lively, fun, and interactive band."
	<div class="testimonialName">- Michelle Baily & Frank Wilson - Private Birthday Party, June 2014</div>
	<br>

	"One of our favourite regular bands that we book at Paddy Flaherty's. Always entertaining and engaging with the crowd and always a very cool repertoire of music. It is always a pleasure to have them at the pub we and will continue to book them for as long as they want to come back!"
	<div class="testimonialName">- Angela Smolders - Paddy Flaherty's Pub, July 2011</div>
	<br>

	"I would just like to say once again that you guys blew us and everyone attending the wedding away with your performance! We could not have asked for anything better and hope you guys enjoyed yourself as well. You guys are really talented. The band was getting so many compliments from everyone throughout the night; I had people coming up to us telling us it was the best party and wedding ever! Again, thanks a million! I had a smile on my face the entire night."
	<div class="testimonialName">- Jamie & Jenny Emberley - Wedding Clients, 2009</div>
	<br>

	"What better than a group of multi-talented musicians with a good ear for song selection to keep the vibe going? I hired the band to kick my event to the next level — they did so and more. People have been praising that night and how perfect the band was for my space. I need them back as soon as possible!"
	<div class="testimonialName">- Mike Whissel - Private Event, May 2014</div>

</div>
