<div id="weddingOpeningBlurb" class="invisible" ng-class="{visible: weddingBlurbIn}" in-view="weddingBlurbIn = true">
	When booking a wedding band, there are a few things to keep in mind.
	<br>Below is a list to help keep us all organized.
</div>

<div>
	<div id="checklist" class="invisible" ng-class="{visible: checklistIn}" in-view="checklistIn = true">
		<div style="text-align: center;">8 Things To Keep In Mind</div>
		<div class="hline2"></div>
		<div>
			<div ng-class="{visible: CheckboxItemInView[0]}" class="invisible">1. # of sets & length</div>
			<div ng-class="{visible: CheckboxItemInView[1]}" class="invisible">2. ceremony music</div>
			<div ng-class="{visible: CheckboxItemInView[2]}" class="invisible">3. special dances</div>
			<div ng-class="{visible: CheckboxItemInView[3]}" class="invisible">4. house music</div>
			<div ng-class="{visible: CheckboxItemInView[4]}" class="invisible">5. sound system for speeches / ceremony</div>
			<div ng-class="{visible: CheckboxItemInView[5]}" class="invisible">6. Hall contact info</div>
			<div ng-class="{visible: CheckboxItemInView[6]}" class="invisible">7. itinerary</div>
			<div ng-class="{visible: CheckboxItemInView[7]}" class="invisible">8. floor plan</div>
			
		</div>
	</div>

	<div class="wedItem invisible" ng-class="{visible: CheckboxItemInView[0]}" in-view="CheckboxItemInView[0] = true">1. How many sets would you like us to play, and how long do you want them?</div>
	<div class="invisible" ng-class="{visible: CheckboxItemInView[0]}">
	Most couples want 3 sets about 45 minutes to an hour in length, but we’re happy to play as much as you want. We’re pretty into that kind of thing.
	</div>

	<div class="wedItem invisible" ng-class="{visible: CheckboxItemInView[1]}" in-view="CheckboxItemInView[1] = true">2. Are we playing the ceremony as well as the reception?</div>
	<div class="invisible" ng-class="{visible: CheckboxItemInView[1]}">
	In addition to bringing the party, we also bring the soft and pretty. In the past we have provided ceremonies with acoustic guitar instrumental music, soft male and / or female vocals, and even some more traditional piano music. Add a beautiful bride, and there won’t be a dry eye in the place.
	</div>

	<div class="wedItem invisible" ng-class="{visible: CheckboxItemInView[2]}" in-view="CheckboxItemInView[2] = true">3. Are we playing any special dances?</div>
	<div class="invisible" ng-class="{visible: CheckboxItemInView[2]}">
	We would be honoured. Let us know what songs you want and we’ll make sure they are perfect.
	</div>

	<div class="wedItem invisible" ng-class="{visible: CheckboxItemInView[3]}" in-view="CheckboxItemInView[3] = true">4. Are we providing house music between sets?</div>
	<div class="invisible" ng-class="{visible: CheckboxItemInView[3]}">
	We are happy to provide music for between sets, just let us know what you’d like to hear, otherwise we’ll make an educated guess. If you have a DJ, kindly pass along some contact information so we can share our song choices. That way you don’t end up hearing the same song more than once.
	</div>

	<div class="wedItem invisible" ng-class="{visible: CheckboxItemInView[4]}" in-view="CheckboxItemInView[4] = true">5. Do you need a sound system for the speeches, or during the ceremony?</div>
	<div class="invisible" ng-class="{visible: CheckboxItemInView[4]}">
	Most reception halls want us to supply our own sound system - no problem. Just let us know if you need it for anything else.
	</div>

	<div class="wedItem invisible" ng-class="{visible: CheckboxItemInView[5]}" in-view="CheckboxItemInView[5] = true">6. Lastly, some logistics with the hall.</div>
	<div class="invisible" ng-class="{visible: CheckboxItemInView[5]}">
	Things always run more smoothly if we can chat with the hall ahead of time about things like electrical power, space, etc. Just pass along the name of the hall and we’ll work it all out with them.
	</div>

	<div class="wedItem invisible" ng-class="{visible: CheckboxItemInView[6]}" in-view="CheckboxItemInView[6] = true">7. Planning an itinerary? Pass it along.</div>
	<div class="invisible" ng-class="{visible: CheckboxItemInView[6]}">
	That way we know where to be and when without needing to ask.
	</div>

	<div class="wedItem invisible" ng-class="{visible: CheckboxItemInView[7]}" in-view="CheckboxItemInView[7] = true">8. Got a floor plan? We could use a copy of that too.</div>
	<div class="invisible" ng-class="{visible: CheckboxItemInView[7]}">
	We like to get to the hall nice and early so we can test our gear without disturbing anyone, but this means that we’ll need to know where you'll want us. A rough sketch or even a written description is all we need.
	</div>	
</div>
