
body {
    margin: 0;
}

.header {
    background-color: black;
    height: 43rem;
    display: block;
}

.title {
    padding-top: 8rem;
    text-align: center;
    font-size: 350%;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    color: #E2E1DF;
    text-shadow:
            -1px -1px 0 #252525,
            1px -1px 0 #252525,
            -1px 1px 0 #252525,
            1px 1px 0 #252525;
}

.horizontal-line {
    height: 2px;
    background: #E2E1DF;
    border: 1px solid #252525;
}

.section {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
}

#section-1 {
    height: 40rem;
    background-image: url("../images/random_pic_1.jpg");
}

#section-2 {
    height: 40rem;
    background-image: url("../images/random_pic_2.jpg");
}

#section-3 {
    height: 40rem;
    background-image: url("../images/random_pic_1.jpg");
}

#section-4 {
    height: 40rem;
    background-image: url("../images/random_pic_2.jpg");
}
