/* green #9FD7C4 */
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Roboto Condensed', sans-serif;*/

body {
	background-color: #647590;	
	margin: 0px;
}

a { 
	color: inherit; 
	text-decoration: inherit;
} 

#mainContainer {
	outline: 0px;
}

#header {
	/*background-color: #647590;*/
	/*background-image: url('../images/brush-strokes.gif');
	background-repeat: no-repeat;
	background-size: 100%;*/
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	color: #E2E1DF;
	font-size: 900%;
	padding: .2em 0em 0.2em 0em;
	height: 70vh;
}

#headerBackground {
	position: absolute;
  left: 0px;
  top: 0px;
	z-index: -1;
	width: 100%;
}

.headerTitle {
	display:table; 
	margin: auto auto;
	position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.hline { 
	height: 1px; 
	background: #fff;
}

#socialLinks {
	display:table;
	margin: 0 auto;
}

.socialLink {
	padding: 1em;
}

#navBar {
	background-color: #252525;
	width: 100%;
	height: 3em;

	/* font stuff */
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 3em;
	font-size: large;
}

.navItem {
	float: left;
	margin-left: 1em;
	margin-right: 1em;

	transition: color 0.4s ease;
	color: #E2E1DF;
}

.navItem:hover {
	transition: color 0.4s ease;
	color: white;
}

#content {
	height: 100em;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #DDE4C5;
	font-family: 'Lato', sans-serif;
}

/* HOME */

#home {
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
	padding: 1em;
	/*background-color: white;*/
}

#homeRow1 {
	height: 18em;
}

#blurb {
	width: 38%;
	float: left;

	display:table; 
  transform: translateY(20%);
}

#carousel {
	width: 61%;
	height: 100%;
	background-color: white;
	float: right;
}

#homeRow2 {
	padding-top: 2em;
	padding-bottom: 1em;
}